html, body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 18%);
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

form{
    background-color:  white;
    text-align: center;
    max-width:  350px;
    margin:auto;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.295);
}

.header{
    width:100%;
    margin: 0;
    padding: 0;
    background-color: rgb(95, 8, 8);
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    flex-shrink: 0;
}

main {
    flex-grow: 1;
    padding: 20px;
}

footer {
    background-color: rgb(95, 8, 8);
    color: white;
    text-align: center;
    padding: 10px;
    flex-shrink: 0;
}
.h1{
    margin: 0;
    padding: 10px;
    font-size: 36px;
}

.h2{
    margin: 0;
    padding: 10px;
    font-size: 28px;
}
.space{
    height:150px;
    width: 1px;
    position: relative;
}
.info{
    position: relative;
    color: white;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.notebox{
    position: relative;
    top: 150px;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: grey;
    border: 3px solid black;
    border-radius: 30px;
    padding: 10px;
}

.buttonstyle{
    background-color: white;
}
.buttonstyleplay{
    background-color: rgb(87, 87, 214);
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid rgb(36, 36, 88);
    font-size: 14px;
}
button:hover{
    background-color: rgb(68, 68, 175);
}
button:focus {
    background-color: rgb(68, 68, 175);
}
input {
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid black;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input:checked {
  border: 6px solid black;
}

.navbar {
    position: relative;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 2px solid black;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(73, 73, 73);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    max-height: 50px;
}
#u2{
    list-style-type: none;
    background-color: rgb(73, 73, 73);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    max-height: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    align-items: center;
    top: 0;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center;
    max-width: 130px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#NavRight{
    border-left: 2px solid black;
}

#NavLeft{
    border-right: 2px solid black;
}

#lang{
    color: white;
    float: right;
    text-decoration: none;
    padding: 5px;
    padding-left: 16px;
    padding-right: 16px;
    display: block;
    text-align: center;
    max-width: 130px;
    border-left: 2px solid black;
    border-right: 1px solid black;
}
.navbar img{
    display:block;
}

.navbar a:hover{
    background-color: rgb(41, 41, 41);
}


.tutorial-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  color: black;
}

.tutorial-card {
  background: hsl(0, 0%, 67%);
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 15px;
  text-align: center;
  margin-top: 50px;
}

.tutorial-card img {
  width: 100%;
  border-radius: 8px;
}

.tutorialBtn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background: hsl(0, 69%, 19%);
  color: white;
  text-decoration: none;
  border-radius: 8px;
}
.tutorialBtn:hover{
    background: hsl(0, 68%, 26%);
}

.songColumns{
    margin-top: 120px;
    color: rgba(255, 255, 255, 0.87);
    padding: 25px;
    box-sizing: border-box;
    height: auto;
    width: 50%;
    float: left;
    min-width: 50%;
    align-items: center;
}
#songTitle{
    color: white;
}

.songImage{
    height: 200px;
    float: left;
    margin-right: 20px;
    border-radius: 4px;
}

#songText{
    font-family: "sans-serif";
    font-size: 1em;
    display: flow-root;
}